<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386585841225-q5tgtkq0hbph150min91o0jgetd3ekd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386585841225-q5tgtkq0hbph150min91o0jgetd3ekd7</string>
	<key>API_KEY</key>
	<string>AIzaSyDg4--G-AsnD9R9UGtypHKEC8e9ojlJkJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>386585841225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inLabActivity</string>
	<key>PROJECT_ID</key>
	<string>in-lab-activity-989b1</string>
	<key>STORAGE_BUCKET</key>
	<string>in-lab-activity-989b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386585841225:ios:fdb61e8e184819cbdbb998</string>
</dict>
</plist>